{% extends "base.html" %}
{% block content %}
<h2 class="mb-4">Thêm hồ sơ bệnh án</h2>
<form method="post">
  {% csrf_token %}
  <div class="mb-3">
    <label class="form-label">Loại</label>
    <select name="type" class="form-select">
      {% for key,val in record_types %}
        <option value="{{ key }}">{{ val }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="mb-3">
    <label class="form-label">File URL</label>
    <input type="text" name="file_url" class="form-control">
  </div>
  <div class="mb-3">
    <label class="form-label">Tóm tắt</label>
    <textarea name="summary" class="form-control"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">➕ Thêm</button>
</form>
{% endblock %}
